<app-navbar></app-navbar>
<section
  class="h-[80vh] w-full flex flex-col items-start justify-center p-5 gap-10 image-background jura"
>
  <h1 class="text-5xl w-1/2 text-white">
    Renta tu carro de manera versátil y flexible
  </h1>
  <h3 class="text-3xl w-5/12">
    Con Flex Drive Solicita un vehiculo en menos de 15 minutos
  </h3>
  <app-button-link label="Empezar aquí" redirecTo="nokas"></app-button-link>
</section>
<section
  class="h-fit w-full flex flex-col items-center justify-center p-5 gap-10 jura"
>
  <form
    action=""
    #frmBuscarInicial
    class="flex flex-col items-center justify-center w-full p-5 montserrat gap-5"
  >
    <span class="flex justify-center items-center w-full">
        <p-select
      [options]="ciudades"
      [(ngModel)]="ciudadSeleccionada"
      required="true"
      placeholder="Selecciona una ciudad"
      name="ciudad"
      (onChange)="checkStatus()"
    ></p-select>
    <p-datepicker
      [(ngModel)]="fechasSeleccionadas"
      [selectionMode]="'range'"
      [readonlyInput]="true"
      [iconDisplay]="'input'" [showIcon]="true" inputId="templatedisplay"
      name="fechasDeViaje"
      (onSelect)="checkStatus()"
      placeholder="DD/MM/YYYY - DD/MM/YYYY"
      ><ng-template #inputicon let-clickCallBack="clickCallBack">
        <svg
            (click)="clickCallBack()"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-calendar-icon lucide-calendar"
        >
          <path d="M8 2v4" />
          <path d="M16 2v4" />
          <rect width="18" height="18" x="3" y="4" rx="2" />
          <path d="M3 10h18" />
        </svg>
      </ng-template>
    </p-datepicker>
    </span>
    <app-button-link label="Buscar" *ngIf="mostrarBtn" class="enter-animation"></app-button-link>    
  </form>
  <div class="grid grid-cols-3 gap-20 w-full h-fit p-20">
    <app-card-pequenna *ngFor="let item of [].constructor(6)"></app-card-pequenna>
  </div>
</section>
<app-footer></app-footer>
