<app-navbar></app-navbar>
<section class="h-[80vh] w-full flex flex-col items-start justify-center p-5 gap-10 image-background jura">
    <h1 class="text-5xl w-1/2 text-white">Renta tu carro de manera versátil y flexible</h1>
    <h3 class="text-3xl w-5/12">Con Flex Drive Solicita un vehiculo en menos de 15 minutos</h3>
    <app-button-link label="Empezar aquí" redirecTo="nokas"></app-button-link>
</section>
<section class="h-fit w-full flex flex-col items-start justify-center p-5 gap-10 jura">

</section>
<app-footer></app-footer>
