<app-navbar class="z-20"></app-navbar>
<main class="-z-10 flex flex-col">
  <section
    class="flex flex-col justify-center items-center w-full h-screen bg-white gap-5 relative overflow-hidden shadow-[0_20px_15px_15px_#ffffff]"
  >
    <svg
      width="385"
      height="741"
      viewBox="0 0 385 741"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute top-0 left-0"
    >
      <path
        d="M-130.5 733C-233.285 749.331 -397 733 -397 733V0H56C56 0 47.7982 45.9932 56 73.5C83.5068 165.751 238.482 1.60756 302.5 73.5C359.506 137.518 380.101 256.586 302.5 293C266.086 310.087 230 310 224.5 361.5C219 413 265.173 398.011 302.5 413C395.455 450.327 427.5 553.5 302.5 669.5C177.5 785.5 149 669.5 83 669.5C17 669.5 -44.5909 719.351 -130.5 733Z"
        fill="#54A8A3"
        fill-opacity="0.3"
      />
      <path
        d="M-199.031 94.8438C-267.671 83.9458 -377 94.8438 -377 94.8438V584C-377 584 -215.421 657.947 -107.5 649.158C-26.5035 642.562 25.5 622.658 90.1267 584C154.753 545.342 145.5 438.5 96 389C46.5 339.5 65.1997 318.394 90.1267 308.391C152.202 283.481 173.602 214.63 90.1267 137.22C6.65158 59.8087 -12.3807 137.22 -56.4556 137.22C-100.53 137.22 -141.661 103.952 -199.031 94.8438Z"
        fill="#54A8A3"
        fill-opacity="0.3"
      />
    </svg>
    <h1 class="text-5xl jura">Seguridad</h1>
    <h3 class="text-xl text-center w-1/2 text-gray-500 montserrat italic">
      ¡Seguridad, cumplimiento y garantía en cada transacción! Tus bienes
      protegidos y tus clientes satisfechos, sin complicaciones.
    </h3>
    <p class="text-md text-center w-1/2 montserrat italic">
      Todo proceso realizado, sean transacciones, contratos, comunicaciones o
      peticiones, se encuentran establecidos bajo altos estándares de protección
      orientadas a las necesidades tecnológicas específicas, a su vez que todos
      servicios proporcionados protegen al propietario en sus bienes bajo las
      cláusulas contractuales, y garantiza cumplimiento del servicio solicitado
      al consumidor final.
    </p>
    <svg
      width="452"
      height="565"
      viewBox="0 0 452 565"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute top-0 -right-20"
    >
      <path
        d="M515.17 557.742C617.956 574.073 781.67 557.742 781.67 557.742V0H17.5C17.5 0 4.56903 81.328 82.1702 117.742C118.584 134.829 154.67 134.742 160.17 186.242C165.67 237.742 119.497 222.753 82.1702 237.742C-10.7848 275.069 -42.8298 378.242 82.1702 494.242C207.17 610.242 235.67 494.242 301.67 494.242C367.67 494.242 429.261 544.093 515.17 557.742Z"
        fill="#54A8A3"
        fill-opacity="0.3"
      />
      <path
        d="M573.758 380.18C642.504 391.024 752 380.18 752 380.18V2.66479C752 2.66479 680.22 30.0283 591.584 2.66479C502.948 -24.6987 284.157 167.693 284.157 167.693C284.157 167.693 200.554 260.988 284.157 338.015C367.76 415.042 386.822 338.015 430.964 338.015C475.106 338.015 516.3 371.117 573.758 380.18Z"
        fill="#54A8A3"
        fill-opacity="0.3"
      />
    </svg>
  </section>
  <section
    class="flex justify-center items-center w-full h-screen gap-5 relative overflow-hidden"
  >
    <span class="flex flex-col justify-center items-start gap-5 w-1/2 h-full">
      <h1 class="text-5xl jura">Confianza</h1>
      <h3 class="text-xl ps-4 text-gray-500 montserrat italic">
        Conduces con seguridad, operas con confianza
      </h3>
      <p class="text-md ps-7 montserrat italic">
        Por medio de la verificación de antecedentes, la empresa garantiza: La
        legalidad de los vehículos por medio de su registro de placa, RUNT e
        historial de revisiones. Tranquilidad entre los usuarios de plataforma
        tras su verificación de antecedentes, medios de pago y responsabilidad
        por contratos entre todas las partes.
      </p>
    </span>
    <svg
      width="616"
      height="486"
      viewBox="0 0 616 486"
      fill="none"
      class="filter"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <mask
        id="mask0_226_299"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="15"
        y="63"
        width="172"
        height="423"
      >
        <rect x="15" y="63" width="172" height="423" rx="20" fill="#031617" />
      </mask>
      <g mask="url(#mask0_226_299)">
        <rect x="-56" width="728" height="486" fill="url(#pattern0_226_299)" />
      </g>
      <mask
        id="mask1_226_299"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="429"
        y="63"
        width="172"
        height="423"
      >
        <rect x="429" y="63" width="172" height="423" rx="20" fill="#031617" />
      </mask>
      <g mask="url(#mask1_226_299)">
        <rect x="-56" width="728" height="486" fill="url(#pattern1_226_299)" />
      </g>
      <mask
        id="mask2_226_299"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="222"
        y="0"
        width="172"
        height="423"
      >
        <rect x="222" width="172" height="423" rx="20" fill="#031617" />
      </mask>
      <g mask="url(#mask2_226_299)">
        <rect x="-56" width="728" height="486" fill="url(#pattern2_226_299)" />
      </g>
      <defs>
        <pattern
          id="pattern0_226_299"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_226_299"
            transform="matrix(0.000976562 0 0 0.00146283 0 -0.000289352)"
          />
        </pattern>
        <pattern
          id="pattern1_226_299"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_226_299"
            transform="matrix(0.000976562 0 0 0.00146283 0 -0.000289352)"
          />
        </pattern>
        <pattern
          id="pattern2_226_299"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_226_299"
            transform="matrix(0.000976562 0 0 0.00146283 0 -0.000289352)"
          />
        </pattern>
        <image
          id="image0_226_299"
          width="1024"
          height="684"
          preserveAspectRatio="none"
          xlink:href="https://res.cloudinary.com/drxgwnsqu/image/upload/v1748723044/vehicles/h4xodtbsrvfwivepjcno.jpg"
        />
      </defs>
    </svg>
  </section>
  <section
    class="flex flex-col justify-end items-center w-full h-screen bg-white gap-5 relative overflow-hidden shadow-[0_0_20px_30px_#ffffff]"
  >
    <svg
      viewBox="0 0 411 900"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute top-[10dvh] left-0 w-3/10"
    >
      <path
        d="M348.222 79.6978C332.167 6.40878 196.061 0.000168029 196.061 0.000168029L-7.93896 0V588.5C-7.93896 588.5 298 597.5 335.284 571C372.567 544.5 390.212 536.429 405.88 483.231C438.908 371.083 265.264 368.889 270.595 267.341C276.674 151.526 364.276 152.987 348.222 79.6978Z"
        fill="#54A8A3"
        fill-opacity="0.3"
      />
      <path
        d="M206.99 480.454C204.033 549.751 113.841 552.492 113.841 552.492L-23.6169 576.99L-90.8163 191.788L-43.7847 191.788C-43.7847 191.788 8.02697 165.194 38.7153 193.41C84.8864 235.861 146.215 110.023 198.351 201.302C250.486 292.582 117.058 295.325 132.601 363.191C150.327 440.59 209.948 411.158 206.99 480.454Z"
        fill="#54A8A3"
        fill-opacity="0.5"
      />
    </svg>
    <img
      src="../../../../assets/carro1-whyUs.png"
      alt="carro1"
      class="absolute top-1/4 -left-50 w-2/3 max-w-[1200px]"
    />
    <span
      class="flex flex-col justify-center items-end ps-[50dvw] gap-5 w-full h-full pe-5"
    >
      <h1 class="text-5xl jura">Facilidad</h1>
      <h3 class="text-xl pe-4 text-end text-gray-500 montserrat italic">
        Porque lo fácil debe ser seguro, y lo seguro… ¡debe ser fácil!
      </h3>
      <p class="text-md pe-7 text-end montserrat italic">
        Nuestra plataforma gestiona todas las operaciones de forma ágil, fáciles
        de encontrar y de solicitar, respaldada por una filosofía costumer
        centric, que simplifica cada interacción sin sacrificar los esquemas de
        seguridad y operación gracias a un SGC (Sistema de Gestión de Calidad)
        integrado.
      </p>
    </span>
  </section>
  <section
    class="flex justify-center items-center w-full h-screen gap-5 relative overflow-hidden"
  >
    <svg
      width="616"
      height="486"
      viewBox="0 0 616 486"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      class="filter"
    >
      <mask
        id="mask0_226_304"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="15"
        y="63"
        width="172"
        height="423"
      >
        <rect x="15" y="63" width="172" height="423" rx="20" fill="#031617" />
      </mask>
      <g mask="url(#mask0_226_304)">
        <rect x="-113" width="731" height="486" fill="url(#pattern0_226_304)" />
      </g>
      <mask
        id="mask1_226_304"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="222"
        y="0"
        width="172"
        height="423"
      >
        <rect x="222" width="172" height="423" rx="20" fill="#031617" />
      </mask>
      <g mask="url(#mask1_226_304)">
        <rect x="-113" width="731" height="486" fill="url(#pattern1_226_304)" />
      </g>
      <mask
        id="mask2_226_304"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="429"
        y="63"
        width="172"
        height="423"
      >
        <rect x="429" y="63" width="172" height="423" rx="20" fill="#031617" />
      </mask>
      <g mask="url(#mask2_226_304)">
        <rect x="-113" width="731" height="486" fill="url(#pattern2_226_304)" />
      </g>
      <defs>
        <pattern
          id="pattern0_226_304"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_226_304"
            transform="matrix(0.00026062 0 0 0.000392003 -0.000391199 0)"
          />
        </pattern>
        <pattern
          id="pattern1_226_304"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_226_304"
            transform="matrix(0.00026062 0 0 0.000392003 -0.000391199 0)"
          />
        </pattern>
        <pattern
          id="pattern2_226_304"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_226_304"
            transform="matrix(0.00026062 0 0 0.000392003 -0.000391199 0)"
          />
        </pattern>
        <image
          id="image0_226_304"
          width="3840"
          height="2551"
          preserveAspectRatio="none"
          xlink:href="https://res.cloudinary.com/drxgwnsqu/image/upload/v1748883709/imagen2_porqueFlex_eo9hjq.webp"
        />
      </defs>
    </svg>

    <span class="flex flex-col justify-center items-end gap-5 w-1/2 h-full">
      <h1 class="text-5xl jura">Rapidez</h1>
      <h3 class="text-xl pe-4 text-end text-gray-500 montserrat italic">
        ¿Sabes qué es mejor que un buen trato? ¡Un trato rápido y seguro!
      </h3>
      <p class="text-md pe-7 text-end montserrat italic">
        Gracias a la agilidad del contrato digital, los clientes pueden
        completar el intercambio de bienes en poco tiempo, brindando comodidad
        tanto para el arrendador como para quien solicita el arriendo del
        vehículo.
      </p>
    </span>
  </section>
  <section
    class="flex flex-col justify-end items-center w-full h-screen bg-white gap-5 relative overflow-hidden shadow-[0_-20px_15px_15px_#ffffff]"
  >
    <svg
      viewBox="0 0 412 577"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute bottom-0 -right-10 w-3/10"
    >
      <path
        d="M61.8395 79.6978C77.8941 6.40877 214 0.000168029 214 0.000168029L418 0V571H214H74.7774C74.7774 571 19.8487 536.429 4.18149 483.231C-28.8471 371.083 144.797 368.889 139.466 267.341C133.387 151.526 45.7849 152.987 61.8395 79.6978Z"
        fill="#54A8A3"
        fill-opacity="0.3"
      />
      <path
        d="M203.071 480.454C206.028 549.751 296.22 552.492 296.22 552.492L433.678 576.99L500.877 191.788L453.846 191.788C453.846 191.788 402.034 165.194 371.346 193.41C325.175 235.861 263.846 110.023 211.71 201.302C159.575 292.582 293.003 295.325 277.46 363.191C259.734 440.59 200.113 411.158 203.071 480.454Z"
        fill="#54A8A3"
        fill-opacity="0.5"
      />
    </svg>
    <img
      src="../../../../assets/carro2-whyUs.png"
      alt="carro2"
      class="absolute top-1/4 -right-50 w-2/3"
    />
    <span
      class="flex flex-col justify-center items-start pl-5 me-[50dvw] gap-5 w-1/2 h-full"
    >
      <h1 class="text-5xl jura">Equidad</h1>
      <h3 class="text-xl ps-4 text-gray-500 montserrat italic">
        Justo para ti, justo para ellos, justo para todos
      </h3>
      <p class="text-md ps-7 montserrat italic">
        Nuestro sistema garantiza el cumplimiento de las obligaciones económicas
        y contractuales entre arrendadores y clientes, por medio de contratos
        digitales aprobados por el análisis de mercado realizado cada
        transacción que está regulada por parámetros que aseguran el respeto a
        los términos establecidos en los acuerdos y el marco legal colombiano.
      </p>
    </span>
  </section>
</main>
<app-footer></app-footer>
