<div
  class="flex flex-col justify-center items-center gap-4 bg-[#d9d9d9] rounded-lg shadow-md m-10 py-4 px-5 hover:scale-105 transition-all duration-300 ease-in-out"
>
  <img
    src="../../../../assets/carro.png"
    alt="carro.png"
    class="w-1/2 h-1/2 mx-auto"
  />
  <h2 class="text-2xl jura font-bold">Suzuki Swift</h2>
  <div class="flex justify-between items-center gap-10 ">
    <span class="flex justify-center items-center gap-2">
      <img
        src="../../../../assets/icons/passanger.png"
        alt="passanger.png"
        class="w-1/2 h-1/2"
      />
      <p>#</p>
    </span>
    <span class="flex justify-center items-center gap-2">
      <img
        src="../../../../assets/icons/bag.png"
        alt="passanger.png"
        class="w-1/2 h-1/2"
      />
      <p>#</p>
    </span>
    <span class="flex justify-center items-center gap-2">
      <img
        src="../../../../assets/icons/car-door.png"
        alt="passanger.png"
        class="w-1/2 h-1/2"
      />
      <p>#</p>
    </span>
    <span class="flex justify-center items-center gap-2">
      <img
        src="../../../../assets/icons/plate.png"
        alt="passanger.png"
        class="w-1/2 h-1/2"
      />
      <p>#</p>
    </span>
  </div>
  <h3 class="text-xl montserrat">Compacto, eficiente y económico</h3>
  <h3 class="text-xl montserrat font-bold">$ 120.000 /dia</h3>
  <app-button
    label="Ver más"
    icon="pi pi-arrow-right"
    iconPos="right"
    redirecTo="/vehicles/detail"
  ></app-button>
</div>
