<div class="group bg-colum h-full w-16 hover:w-64 transition-all duration-300 py-4 overflow-hidden bg-[#d9d9d9] pt-15">
  <ng-container *ngFor="let item of menuItems">
    <a [routerLink]="item.route"
      class="flex items-center no-underline jura font-bold hover:bg-white px-3 py-5 duration-300"
      routerLinkActive="active" [ngClass]="{ 'text-emerald-600': isActive(item.route) }" *ngIf="item.admin">
      <img class="w-9 h-9 flex-shrink-0" [src]="
          '../../../../assets/icons/' +
          (isActive(item.route) ? item.iconActive : item.icon)
        " alt="" />
      <span
        class="ml-0 opacity-0 group-hover:opacity-100 group-hover:ml-5 transition-all duration-300 whitespace-nowrap text-black"
        [ngClass]="{ 'text-emerald-600': isActive(item.route) }">
        {{ item.title }}
      </span>
    </a>
  </ng-container>
  <a href="http://20.62.190.96:3000/"
    class="flex items-center no-underline jura font-bold hover:bg-white px-3 py-5 duration-300"
    [ngClass]="{ 'text-emerald-600': isActive(dashboardItems.route) }" *ngIf="dashboardItems.admin">
    <img class="w-9 h-9 flex-shrink-0" [src]="
          '../../../../assets/icons/' +
          (isActive(dashboardItems.route) ? dashboardItems.iconActive : dashboardItems.icon)
        " alt="" />
    <span
      class="ml-0 opacity-0 group-hover:opacity-100 group-hover:ml-5 transition-all duration-300 whitespace-nowrap text-black"
      [ngClass]="{ 'text-emerald-600': isActive(dashboardItems.route) }">
      {{ dashboardItems.title }}
    </span>
  </a>
</div>