<app-navbar></app-navbar>

<div class="bg-white flex">
  <app-menu-column></app-menu-column>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <app-input-label
      label="Tipo de PQRS"
      placeholder="Seleccione un tipo de PQRS"
      name="tipoDePeticion"
      [model]="formData"
      modelProperty="tipoDePeticion"
      [isSelect]="true"
      [options]="[
        { value: 'peticion', label: 'Petición' },
        { value: 'queja', label: 'Queja' },
        { value: 'reclamo', label: 'Reclamo' },
        { value: 'Solicitud', label: 'Solicitud' }
      ]"
      [submitted]="submitted"
    ></app-input-label>

    <div class="mt-6 flex flex-col items-center space-y-4">
      <button
        type="submit"
        class="w-[20rem] bg-[#54A8A3] text-white py-2 px-4 rounded border-2 border-transparent hover:bg-transparent hover:cursor-pointer hover:border-[#54A8A3] hover:text-[#54A8A3] focus:outline-none focus:ring-2 focus:ring-[#ADF9F6] focus:ring-offset-2 transition duration-300 ease-in-out"
      >
        Guardar Cambios
      </button>
      <button
        type="submit"
        class="w-[20rem] bg-[#ff4d4d] text-white py-2 px-4 rounded border-2 border-transparent hover:bg-transparent hover:cursor-pointer hover:border-[#54A8A3] hover:text-[#54A8A3] focus:outline-none focus:ring-2 focus:ring-[#ADF9F6] focus:ring-offset-2 transition duration-300 ease-in-out"
      >
        Eliminar Vehículo
      </button>
    </div>
  </form>
</div>

<app-footer></app-footer>
