input {
  background-color: white;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0 10px 15px -5px #00000090;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
::placeholder {
  color: #999;
  opacity: 1;
}
