<button
  (click)="handleClick()"
  type="{{ type }}"
  disabled="disabled"
  class="bg-[#54A8A3] w-fit flex text-white py-2 px-4 rounded border-2 border-transparent hover:bg-transparent hover:cursor-pointer hover:border-2 hover:border-[#54A8A3] hover:text-[#54A8A3] focus:outline-none focus:ring-2 focus:ring-[#ADF9F6] focus:ring-offset-2 transition duration-300 ease-in-out jura"
>
  <ng-container *ngIf="icon && iconPos === 'left'">
    <i [class]="icon" class="mr-2 my-auto"></i>
  </ng-container>

  <span>{{ label }}</span>

  <ng-container *ngIf="icon && iconPos === 'right'">
    <i [class]="icon" class="ml-2 my-auto"></i>
  </ng-container>
</button>
