@import "tailwindcss";
@import "primeicons/primeicons.css";


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.jura {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
}
