<app-navbar></app-navbar>
<main class="flex flex-col items-center justify-center w-full">
  <section
    class="flex items-center justify-around h-screen bg-[#031617] shadow-2xl shadow-[#031617]"
  >
    <span
      class="flex flex-col items-start justify-center gap-3 w-1/2 h-full py-5 px-8"
    >
      <h1 class="text-7xl jura text-white w-1/2">Acerca de nosotros</h1>
      <h3 class="text-5xl italic montserrat text-[#54A8A3]">
        Conoce Acerca de Flex Drive
      </h3>
    </span>
    <img
      id="carretera"
      src="../../../../assets/aboutus_imagen1.png"
      alt="carretera.png"
      class="w-1/2 h-full"
    />
  </section>
  <section class="flex items-center justify-around h-screen w-full">
    <img
      class="absolute -left-20 w-1/2 z-20"
      src="../../../../assets/carr01-aboutUs.png"
      alt=""
    />
    <svg
      width="490"
      height="646"
      viewBox="0 0 490 646"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute left-0 z-10"
    >
      <path
        d="M479.736 121.182C453.647 55.8387 403.885 49.3623 343 27.1814C259.706 -3.16293 123.209 -3.47006 17.5 4.18164C-48.771 8.97862 -51 59.7255 -51 59.7255V645.682C-51 645.682 119.93 582.66 238.918 614.953C292.24 629.425 409.052 571.252 426.335 492.673C443.798 413.274 322.613 320.112 408.342 285.705C494.072 251.299 501.236 175.028 479.736 121.182Z"
        fill="#ADF9F6"
        fill-opacity="0.6"
      />
      <path
        d="M286.474 224.745C269.885 183.142 170.666 136.993 170.666 136.993C170.666 136.993 59.2243 92.4207 3.37082 126.542C-23.3888 142.89 -51 185.617 -51 185.617V558.682C-51 558.682 57.6877 518.557 133.347 539.117C167.252 548.331 241.528 511.294 252.518 461.265C263.622 410.713 186.565 351.399 241.077 329.493C295.589 307.587 300.144 259.027 286.474 224.745Z"
        fill="#54A8A3"
        fill-opacity="0.5"
      />
    </svg>
    <span
      class="flex flex-col items-end justify-center gap-3 w-full h-full py-5 pe-10 ps-[50vw] text-center"
    >
      <h1 class="text-7xl jura w-full">Misión</h1>
      <h3 class="text-xl italic montserrat">
        Ser el aliado estratégico de propietarios y arrendatarios en el mercado
        de renta de vehículos, garantizando seguridad en cada transacción,
        equidad en la participación del negocio y accesibilidad a través de
        nuestros servicios. Nuestra plataforma conecta a la comunidad con nuevas
        oportunidades comerciales, apostando por la tranquilidad de nuestros
        clientes y brindando soluciones ágiles a sus necesidades de movilidad.
      </h3>
    </span>
  </section>
  <section class="flex items-center justify-around h-screen w-full">
    <img
      class="absolute -right-30 w-1/2 z-20"
      src="../../../../assets/carro2-aboutUs.png"
      alt=""
    />
    <svg
      width="485"
      height="649"
      viewBox="0 0 485 649"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute right-0 z-10"
    >
      <path
        d="M294.5 648.5C370.804 652.743 489 626.956 489 626.956V41.0001C489 41.0001 403.5 -21.9999 324.5 9.50012C245.5 41.0001 161 9.50012 116.5 69.0001C67.8093 134.104 -59.9999 289.5 35.5002 374.5C131 459.5 -25.4666 492.051 16 561C38.6547 598.67 180.673 642.17 294.5 648.5Z"
        fill="#ADF9F6"
        fill-opacity="0.6"
      />
      <path
        d="M176.079 229.099C194.786 187.507 184.661 92.9531 287.715 97.1343C351.257 99.7123 436.292 106.353 427.689 170.975C419.086 235.598 489 230.034 489 230.034V603C489 603 471.137 528.958 385.821 549.513C347.588 558.725 253.874 584.034 241.482 534.018C228.96 483.479 237.549 408.957 176.079 387.057C114.842 365.24 160.315 264.144 175.902 229.492L176.079 229.099Z"
        fill="#54A8A3"
        fill-opacity="0.5"
      />
    </svg>

    <span
      class="flex flex-col items-end justify-center gap-3 w-full h-full py-5 ps-10 pe-[50vw] text-center"
    >
      <h1 class="text-7xl jura w-full">Visión</h1>
      <h3 class="text-xl italic montserrat">
        A finales de 2027, FlexDrive será un referente en Boyacá por la calidad en sus procesos de negociación y la transparencia en cada operación dentro de nuestra plataforma. Apostamos por un crecimiento sostenido, expandiendo nuestra presencia en el departamento y abriendo nuevos puntos de comercio en Cundinamarca y Santander. Seremos reconocidos por ofrecer un servicio íntegro y seguro, brindando a nuestros clientes nuevas oportunidades de negocio y una movilidad más cómoda y accesible. 
      </h3>
    </span>
  </section>
  <section class="grid grid-cols-2 place-items-center gap-5 h-screen w-full bg-[#031617]  shadow-[0_-25px_50px_-12px_#031617]">
    <h1 class="col-span-2 text-white text-6xl jura">Políticas</h1>
    <span class="flex flex-col items-center justify-center gap-3 w-full h-full py-5 px-10">
        <h4 class="jura text-white text-6xl col-span-2 text-center">Politica 1</h4>
        <img id="politica1" src="../../../../assets/politica1.png" class="w-1/2 mb-[17%]" alt="">
        <p class="montserrat italic text-white text-center text-xl">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
    </span>
    <span class="flex flex-col items-center justify-center gap-3 w-full h-full py-5 px-10">
        <h4 class="jura text-white text-6xl col-span-2 text-center">Politica 1</h4>
        <img id="politica2" src="../../../../assets/politica2.png" class="w-1/3 mb-[17%]" alt="">
        <p class="montserrat italic text-white text-center text-xl">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
    </span>
    <app-button label="More Information" class="col-span-2"></app-button>
  </section>
</main>
<app-footer></app-footer>
